@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Merriweather:wght@300;400;700&display=swap");

body {
    font-family: "Merriweather", serif;
    color: #2a3e40;
    background: #f9f9f9;
    line-height: 1.5;
    text-align: left;
    margin: 0;
    padding: 0 20px;
}

main {
    max-width: 45em;
    margin: 0 auto;
    padding: 20px 0;
}

h1,
.chapter-title {
    font-family: "Dancing Script", cursive;
    color: #2a3e40;
    margin-bottom: 0.4em;
}

.resources {
    font-family: "Merriweather", serif;
    font-size: 0.9rem;
    color: #4b5b5f;
    text-align: center;
    background-color: #e5e5e5;
    padding: 20px 10px;
    margin-top: 40px;
    border-radius: 5px;
}

a {
    font-family: "Merriweather", serif;
    color: #1a73e8;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    color: #155ab6;
}

.title {
    font-family: "Dancing Script", cursive;
    font-size: 60px;
    text-align: center;
    color: #d4a03a;
    margin-bottom: 25px;
    letter-spacing: 1px;
}

.cover {
    text-align: center;
    margin-bottom: 40px;
}

.alice-cover {
    display: block;
    max-width: 100%;
    margin: 0 auto;
    border: 3px solid #d4a03a;
    padding: 8px;
    background-color: #fff;
    border-radius: 6px;

    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}

.inferior-menu {
    text-align: center;
    margin-top: 25px;
    font-size: 19px;
}

.inferior-menu a {
    margin: 0 15px;
    text-decoration: none;
    color: #b67700;
    font-weight: bold;
    transition: 0.2s ease;
}

.inferior-menu a:hover {
    color: #d4a03a;
}

.chapter-title {
    font-family: "Dancing Script", cursive;
    font-size: 48px;
    color: #d4a03a;
    text-align: center;
    margin-top: 20px;
}

h2,
h3 {
    color: #b67700;
    margin-bottom: 10px;
}

.chapter-text {
    font-size: 18px;
    margin-bottom: 25px;
}

.chapter-img {
    display: block;
    max-width: 80%;
    margin: 25px auto;
    border-radius: 4px;
    border: 2px solid #d4a03a;
    padding: 6px;
    background-color: #fff;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}

.chapter-nav {
    text-align: center;
    margin-top: 40px;
}

.chapter-nav a {
    background: #d4a03a;
    color: white;
    padding: 10px 25px;
    border-radius: 4px;
    text-decoration: none;
    margin: 0 10px;
    font-weight: bold;
    transition: 0.2s ease;
}

.chapter-nav a:hover {
    background: #b67700;
}
